.Button {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  align-self: center;
  border-radius: 20px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  min-width: 130px;
  min-height: 60px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #4ea66d !important;
}

.Button:active {
  background-color: #4ea66d !important;
}

.Button:focus {
  background-color: #4ea66d;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Dark:hover {
  background-color: #6e34bf;
  color: white;
}
.Blue:not(:hover) {
  box-shadow: 0 0 5px #6e34bf;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Dark {
  background-color: #201740;
  color: white;
}
