.navBar {
  background-color: #201740 !important;
}

.NavLink {
  padding: 5px;
  color: white !important;
  text-decoration: none;
}

.NavLink:hover {
  color: #4ea66d !important;
}

.Active i {
  color: #6e34bf !important;
  padding: 5px;
  text-decoration: none !important;
}

a {
  color: #6e34bf !important;
  font-size: 1rem;
  margin-left: 10px;
  text-decoration: none !important;
  line-height: normal;

  &:hover {
    color: #6e34bf;
    text-decoration: none !important;
  }
}
