.DropdownItem {
  display: inline-block;
  max-width: 50% !important;
  padding: 0px;
  color: white !important;
  text-align: left !important;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.DropdownBg {
  background-color: #42208c !important;
}
