.Row {
  height: calc(100vh - 81px);
}
.Input {
  background: #201740;
  border: 1px solid #201740;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 10px;
}

.Input:focus {
  background-color: #201740;
  color: #201740;
  caret-color: #4ea66d;
}

.Input:focus::placeholder {
  background-color: #201740;
  color: #201740;
}

.Input::placeholder {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem; /* Change to your desired color */
}

.Header {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: white;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.Link span {
  color: #4ea66d;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.SignUpCol {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FillerImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Form {
  color: white;
}

.FormText {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
}
