.App {
  text-align: center;
  min-height: 100vh;
  background: radial-gradient(circle, #6e34bf, #201740);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
}

.Content {
  background-color: #2b1e59;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #6e34bf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #6e34bf;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #6e34bf;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
