body {
  margin: 0;
  font-family: "Teko", sans-serif;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, #6e34bf, #201740);
}

h1 {
  font-family: "Teko", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
